/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: orange;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(255,165,0,0.6);
}

/* NAV LINKS */
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: orange;
}